* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-size: 2rem;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-table {
    max-width: 250px;
    margin: auto 2rem 10px;
    align-self: flex-end;
}

.pay-table thead tr th:first-child,
.pay-table thead tr th:last-child {
    max-width: 20px;
}

.pay-table td {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header {
    margin: 100px auto 0;
    width: 450px;
    height: 75px;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2rem;
    font-family: 'Caveat', 'Lato', sans-serif;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto 10px;
    width: 450px;
    height: 215px;
    border: 2px solid #000;
    border-radius: 5px;
}

.debug {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.debug-header {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.debug-header div {
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin: 5px;
}

.debug-header div>label{
    flex: 1 0 200px;
}

.debug-header div>select{
    flex: 1 0 100px;
}

.spin {
    height: 100%;
    padding: 0;
    border: 3px solid;
    border-radius: 3px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    color: #2ea980;
}

.disabled {
    color: #aeacac;
}

.slot-machine {
    margin: 0 auto;
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    border: 2px solid #000;
    padding: 60.5px 0;
    border-radius: 5px;
}

.gap {
    height: 100%;
    width: 10px;
    position: relative;
}

.wl {
    width: 100%;
    height: 5px;
}

.wl__top {
    position: absolute;
    top: 30%;
    background-color: #000;
}

.wl__center {
    position: absolute;
    top: 50%;
    background-color: #000;
}

.wl__bottom {
    position: absolute;
    bottom: 30%;
    background-color: #000;
}

.scene {
    width: 141px;
    height: 121px;
    position: relative;
    perspective: 12500px;
}

.reel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center;
}

.reel__cell {
    position: absolute;
    width: 141px;
    height: 121px;
    backface-visibility: hidden;
}

table {
    width: 100%;
    font-size: 1rem;
}

table, th, td {
    border: 1px solid #aeacac;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: #aeacac;
    color: white;
}

.error {
    color: #ff0000;
    display: none;
    margin: 0 auto 10px;
    text-align: center;
    font-family: 'Caveat', 'Lato', sans-serif;
}

input {
    width: 100%;
}